<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>710046360132-33puvp7lcbh8lir27df3n5ev3hd7p00m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.710046360132-33puvp7lcbh8lir27df3n5ev3hd7p00m</string>
	<key>API_KEY</key>
	<string>AIzaSyCt1Kqgn_VOzCP8Bc1ePzvOTb5QlF0TtD8</string>
	<key>GCM_SENDER_ID</key>
	<string>710046360132</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hirorich.MyNineteenthiOS</string>
	<key>PROJECT_ID</key>
	<string>fcwarningclass</string>
	<key>STORAGE_BUCKET</key>
	<string>fcwarningclass.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:710046360132:ios:f4532146466acffb93d211</string>
</dict>
</plist>