<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>264575306286-tf7t24gjjor1jqhcbrkc7lufnnb65jjb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.264575306286-tf7t24gjjor1jqhcbrkc7lufnnb65jjb</string>
	<key>API_KEY</key>
	<string>AIzaSyD01lKNLyHt2Y_-wkaRgU4gM1UKuhbx34o</string>
	<key>GCM_SENDER_ID</key>
	<string>264575306286</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hiroRich.WebKitSample</string>
	<key>PROJECT_ID</key>
	<string>webkitfcm</string>
	<key>STORAGE_BUCKET</key>
	<string>webkitfcm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:264575306286:ios:5da58533de984bb052adbf</string>
</dict>
</plist>