<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>333696020520-cpbmd7pavq684plm8ovfbm5al8fls8q6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.333696020520-cpbmd7pavq684plm8ovfbm5al8fls8q6</string>
	<key>API_KEY</key>
	<string>AIzaSyBXuvCFK8707UovegDY0BJBzc4DFB93HCU</string>
	<key>GCM_SENDER_ID</key>
	<string>333696020520</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hiroDaegu.TwitterTutorial</string>
	<key>PROJECT_ID</key>
	<string>twitterpractice-d77f4</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterpractice-d77f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:333696020520:ios:d72fbd30894c3ea469851d</string>
</dict>
</plist>