<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>isHidden</key>
	<true/>
	<key>title</key>
	<string>Here&apos;s UR guide</string>
	<key>detail</key>
	<string>Please refer to the service
Please refer to the service
</string>
	<key>date</key>
	<string>22.12.20(Tue) 00:00-03:00(3 hours)</string>
</dict>
</plist>
