<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>603251676852-mc4css7e0kbfst1rgrj5c739i6qnaseo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.603251676852-mc4css7e0kbfst1rgrj5c739i6qnaseo</string>
	<key>API_KEY</key>
	<string>AIzaSyAmpyYTHtiIfhzOAqNOItXBDwiJoU7VBxQ</string>
	<key>GCM_SENDER_ID</key>
	<string>603251676852</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hiroDaegu.TimeSensitivieNotificationSample</string>
	<key>PROJECT_ID</key>
	<string>timesensitivenotisample</string>
	<key>STORAGE_BUCKET</key>
	<string>timesensitivenotisample.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:603251676852:ios:4c650cb6589e0d22e329e1</string>
</dict>
</plist>