<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>SUIT-Bold.ttf</string>
		<string>SUIT-ExtraBold.ttf</string>
		<string>SUIT-ExtraLight.ttf</string>
		<string>SUIT-Heavy.ttf</string>
		<string>SUIT-Light.ttf</string>
		<string>SUIT-Medium.ttf</string>
		<string>SUIT-Regular.ttf</string>
		<string>SUIT-SemiBold.ttf</string>
		<string>SUIT-Thin.ttf</string>
		<string>Rubik-Black.ttf</string>
		<string>Rubik-Bold.ttf</string>
		<string>Rubik-ExtraBold.ttf</string>
		<string>Rubik-Light.ttf</string>
		<string>Rubik-Medium.ttf</string>
		<string>Rubik-Regular.ttf</string>
		<string>Rubik-SemiBold.ttf</string>
		<string>Oswald-Bold.ttf</string>
		<string>Oswald-ExtraLight.ttf</string>
		<string>Oswald-Light.ttf</string>
		<string>Oswald-Medium.ttf</string>
		<string>Oswald-Regular.ttf</string>
		<string>Oswald-SemiBold.ttf</string>
		<string>Pretendard-Medium.ttf</string>
		<string>Pretendard-Black.ttf</string>
		<string>Pretendard-Regular.ttf</string>
		<string>Pretendard-Thin.ttf</string>
		<string>Pretendard-ExtraLight.ttf</string>
		<string>Pretendard-SemiBold.ttf</string>
		<string>Pretendard-ExtraBold.ttf</string>
		<string>Pretendard-Bold.ttf</string>
		<string>Pretendard-Light.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>bluetooth-peripheral</string>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
